@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="bg-danger text-white rounded p-2">Error.</h1>
<h2 class="text-danger">No idea what went wrong, good luck.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div>
    <h3 class="bg-danger rounded"></h3>
    <p>i am not going to fix this.</p>
</div>