@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="text-center">Welcome home!</h1>
<p>This is a paragraph, you can tell because it is a paragraph. 
    Usually you can tell things because of what they are, you are welcome.</p>