@page
@model LogModel
@{
    ViewData["Title"] = "Log Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Log policy.</p>

<section class="w-80 bg-light row">
    <article class="col-sm m-2 border rounded bg-white">
        <h3>TODO</h3>
    </article>

    <article class="col-sm m-2 border rounded bg-white">
        <h3>Doing</h3>
    </article>

    <article class="col-sm m-2 border rounded bg-white">
        <h3>Done</h3>
    </article>
</section>