@page
@model LogModel
@{
    ViewData["Title"] = "Log Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Log policy.</p>
<a href="/NewIssue" class="btn btn-primary">New Issue</a>

<section class="w-80 bg-light row mt-2">
    <article class="col-md m-2 py-2 border rounded bg-white">
        <h3>TODO</h3>
        @foreach(var issue in Model.Issues.Where(x => x.Status == Models.Status.Todo)) {
            <div class="card w-80 mx-2 mb-2 px-1 bg-light">
                <p class="p-2 m-0">@issue.Name</p>
                @switch (issue.Priority) {
                    case Models.Priority.Low:
                        <p class="text-white bg-success rounded m-1 mb-2 px-2">Low</p>
                        break;
                    case Models.Priority.Normal:
                        <p class="text-white bg-warning rounded m-1 mb-2 px-2">Normal</p>
                        break;
                    case Models.Priority.High:
                        <p class="text-white bg-danger rounded m-1 mb-2 px-2">High</p>
                        break;
                }
            </div>
        }
    </article>

    <article class="col-md m-2 py-2 border rounded bg-white">
        <h3>Doing</h3>
        @foreach(var issue in Model.Issues.Where(x => x.Status == Models.Status.Doing)) {
            <div class="card w-80 mx-2 mb-2 px-1 bg-light">
                <p class="p-2 m-0">@issue.Name</p>
                @switch (issue.Priority) {
                    case Models.Priority.Low:
                    <p class="text-white bg-success rounded m-1 mb-2 px-2">Low</p>
                    break;
                    case Models.Priority.Normal:
                    <p class="text-white bg-warning rounded m-1 mb-2 px-2">Normal</p>
                    break;
                    case Models.Priority.High:
                    <p class="text-white bg-danger rounded m-1 mb-2 px-2">High</p>
                    break;
                }
            </div>
        }
    </article>

    <article class="col-md m-2 py-2 border rounded bg-white">
        <h3>Done</h3>
        @foreach(var issue in Model.Issues.Where(x => x.Status == Models.Status.Done)) {
            <div class="card w-80 mx-2 mb-2 px-1 bg-light">
                <p class="p-2 m-0">@issue.Name</p>
                @switch (issue.Priority) {
                    case Models.Priority.Low:
                    <p class="text-white bg-success rounded m-1 mb-2 px-2">Low</p>
                    break;
                    case Models.Priority.Normal:
                    <p class="text-white bg-warning rounded m-1 mb-2 px-2">Normal</p>
                    break;
                    case Models.Priority.High:
                    <p class="text-white bg-danger rounded m-1 mb-2 px-2">High</p>
                    break;
                }
            </div>
        }
    </article>
</section>