@page
@model LogModel
@{
    ViewData["Title"] = "Log Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Log policy.</p>
<a href="/NewIssue" class="btn btn-primary">New Issue</a>

<section class="w-80 bg-light row mt-2">
    <article class="col-md m-2 border rounded bg-white">
        <h3>TODO</h3>
        @foreach(var issue in Model.Issues) {
            <div class="card mx-2 bg-light">
                <p>@issue</p>
            </div>
        }
    </article>

    <article class="col-md m-2 border rounded bg-white">
        <h3>Doing</h3>
        @foreach(var issue in Model.Issues) {
            <div class="card mx-2 bg-light">
                <p>@issue</p>
            </div>
        }
    </article>

    <article class="col-md m-2 border rounded bg-white">
        <h3>Done</h3>
        @foreach(var issue in Model.Issues) {
            <div class="card mx-2 bg-light">
                <p>@issue</p>
            </div>
        }
    </article>
</section>